<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Welcome to Zortazert's website!</title>
  <link rel="stylesheet" href="../style/styles.css">
</head>

<h2>Anti Vax Gets the Shot!</h2>

<!--
<iframe id="lbry-iframe" width="560" height="315" src="https://odysee.com/$/embed/ANTI-VAX-GETS-THE-SHOT/e04364e9328d1e10fb5cd5d3e49e94f6f26be67c?r=3gvzRkqcDX7Rvn4sdG8zNJFba6Cos9Xx" allowfullscreen></iframe>
-->

<video controls width="560" height="315">
  <source src="anti-vax-gets-the-shot.mp4" type="video/mp4">
Your browser does not support the video tag.
</video>

<ul>
  <li><b>Author:</b> trueauracoral</li>
  <li><b>Publish Date:</b> November 24th, 2021</li>
  <li><b>Link:</b> <a href="https://librarian.bcow.xyz/@trueauracoral:a/ANTI-VAX-GETS-THE-SHOT:e">Librarian link</a></li>
</ul>
